{% extends "frontendTemplate.html.twig" %}

{% block title %} SnowTricks | Mot de passe oublié {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="containerPadding">
  <div class="containerForm">
    <h1>Mot de passe oublié</h1>
    <p>Merci de rentré votre email ainsi que votre pseudo, nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
    {{ form_start(emailForm ) }}
    <div class="error">
    </div>
      {{ form_row(emailForm.email) }}
      <input type="submit" value="Réinitialiser">
  {{ form_end(emailForm) }}
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('app.js') }}"></script>
{% endblock %}
