{% extends "frontendTemplate.html.twig" %}

{% block title %} SnowTricks | Catégories {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="containerCategories">
        <div class="containerForm">
            <h1>Ajouter une catégorie</h1>
            {{ include('categories/_form.html.twig') }}
        </div>
        <a class="linkNew" href="{{ path('categories_index') }}">Retour à la liste</a>
    </div>
{% endblock %}



{% block javascript %}
  <script src="{{ asset('app.js') }}"></script>
{% endblock %}