<h1>Activation de votre compte</h1>
<p>Vous avez créer un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour activer ce dernier.</p>
<p><a href="{{ url('activation', {'token': token}) }}">Activer mon compte</a></p>